/*
 Theme Name:   EMH
 Theme URI:    
 Description:  Emily Morrow Home Theme - based on WooCommerce Storefront theme
 Author:       Empower MediaMarketing 
 Author URI:   http://www.empowermm.com
 Template:     storefront
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         e-commerce, two-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, featured-images, full-width-template, threaded-comments, accessibility-ready, rtl-language-support, footer-widgets, sticky-post, theme-options
 Text Domain:  emh
*/

@import url("https://use.fontawesome.com/aeaef28f90.css");
/* CSS start form here - MM */
.accordianForDesign .fl-accordion-item{
	border: none!important;
}
.accordianForDesign .fl-accordion-button{
	display: block;
    text-align: center;
}
.accordianForDesign .fl-accordion-button-label{
	padding: 8px 16px!important;
    background-color: #d19a2a!important;
    color: #fff!important;
    text-decoration: none!important;
    text-align: center;
    display: inline-block;
    width: 200px!important;

}
.accordianForDesign .fl-accordion-button-icon{
	display: none!important;
}

.accordianForDesign .fl-accordion-content{
	padding: 20px 12px;
    text-align: center;
}


.emily-heading span.fl-heading-text {
    color: #565656;
    font-size: 23.44px;
    letter-spacing: 0.22px;
    line-height: 27px;
    font-family: Athelas, serif;
}

.emily-user .fl-rich-text {
    float: right;
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F;
}

.emily-user strong {
    font-weight: 700;
}

.emily-user .fa-user {
    color: #E3A72C;
    margin-right: 6px;
}

.emily-user .viewacc {
    margin-left: 8px;
    color: #E3A72C;
    font-weight: bold;
}

.home-col a {
    color: #FFFFFF !important;
    font-size: 24px;
    font-weight: 600 !important;
    letter-spacing: 0.27px;
    margin-bottom: 5px;
    line-height: 26px;
    text-transform: uppercase;
}

.home-col i.fa.fa-angle-right {
    color: #E3A72C !important;
    margin-left: 2px;
}

.portal-home-col-text .fl-rich-text p {
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
}

.home-book a {
    color: #FFFFFF !important;
    font-size: 24px;
    font-weight: 600 !important;
    margin-bottom: 5px;
    line-height: 26px;
    text-transform: uppercase;
}

.col-home-portal .fl-callout-title {
    color: #3F3F3F !important;
    font-size: 18px !important;
    font-weight: bold;
    line-height: 22px !important;
    text-align: center;
}

.col-home-portal .fl-callout-text p {
    color: #6D6D6D;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
}

.page-id-2399 div#primary,
.page-id-2430 div#primary,
.page-id-2424 div#primary {
    background-color: #fff;
}

.border-ltrt {
    border-right: 1px solid #ededed;
    border-left: 1px solid #ededed
}

.ordersamples.col-3 ul.products li {
    width: calc(100% / 3);
    padding: 20px;
}

.ordersamples.col-3 ul.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.ordersamples ul.products h3 {
    color: #3F3F3F;
    font-size: 17.25px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    margin-top: 10px;
}

.ordersamples ul.products div.price {
    color: #3F3F3F;
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
}

.ordersamples ul.products img {
    height: 264px;
}

.order-heading h3 {
    color: #565656;
    font-family: Athelas, serif;
    font-size: 32px;
    letter-spacing: 0.3px;
    line-height: 36px;
    text-align: center;
}

.ceu-content h3.fl-callout-title {
    color: #3F3F3F;
    font-family: Athelas, serif;
    font-size: 22px;
    font-weight: bold;
    line-height: 26px;
}

.ceu-content .fl-callout-text p {
    color: #6D6D6D;
    margin-top: 10px !important;
    font-size: 14px;
    line-height: 21px;
}

#html5-watermark {
    display: none !important;
}


/* Marketing - materials */

.marketingMaterial {
    margin-bottom: 120px !important;
}

.marketingMaterial:after {
    content: "";
    display: table;
    clear: both;
}

.portfolio .label-bg,
.portfolio .label,
.portfolio .label-text {
    background: transparent !important;
    position: static !important;
}

.portfolio .label-text {
    display: flex;
    justify-content: space-between;
}

.portfolio .label {
    height: auto !important;
    background: #FFFFFF !important;
    padding: 0 !important;
}

.portfolio .label a {
    color: #3F3F3F !important;
    font-size: 17.25px;
    font-weight: bold;
    line-height: 21px;
    text-align: center;
    display: block;
    padding: 5px;
}

#portfoliolist {
    max-width: 980px;
    margin: 0 auto;
}

.portfolio-imgWrapper,
.portfolio-wrapper>.html5lightbox {
    background: white;
    overflow: hidden;
}

.portfolio-wrapper .html5lightbox {
    display: block;
}

.portfolio-wrapper>.html5lightbox>img {
    /*  max-width: 300px;
    max-height: 300px;*/
    max-width: 300px;
    height: 260px !important;
    display: block;
    width: 100%;
    height: auto;
}

.portfolio img {
    margin: 0 auto;
    top: 0 !important;
}

.portfolio:hover .portfolio-wrapper>a>img,
.portfolio .material_rooms li:hover>img {
    transform: scale(1.1);
}

.marketingMaterial #filters {
    text-align: center;
}

.marketingMaterial #filters>li {
    float: none;
    display: inline-block;
    padding: 0 30px;
}

.marketingMaterial #filters>li .filter {
    color: #565656;
    font-family: Athelas;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 18px;
    padding: 2px 0px;
}

.marketingMaterial #filters>li .filter.active {
    background: transparent;
    color: #565656;
    border-bottom: 2px solid #E3A72C;
}

.emilyHeader {
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
    background: #fff;
}

.emilyHeader .emily-heading {
    color: #565656;
    font-size: 23.44px;
    letter-spacing: 0.22px;
    line-height: 27px;
    font-family: Athelas, serif;
    text-transform: uppercase;
}

.emilyHeader .emily-user p {
    margin-bottom: 0;
}

.pageTitleBackBtn {
    padding: 20px 0;
}

#portfoliolist .portfolio {
    width: 31% !important;
}

#portfoliolist .portfolio.imagenot {
    width: 100% !important;
}

#portfoliolist .portfolio.imagenot .portfolio-wrapper {
    background: none;
}

.pageTitleBackBtn h1 {
    color: #565656;
    font-family: Athelas;
    font-size: 32px;
    letter-spacing: 0.3px;
    line-height: 36px;
    text-align: center;
}

.pageTitleBackBtn .backBtn {
    padding: 0 20px;
}

.pageTitleBackBtn .backBtn a:before {
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\f104";
    margin-right: .5em;
}


/* image donwload page */

.imgDownloadPage {
    padding: 0;
    margin: 0;
    list-style: none;
    clear: both;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.imgDownloadPage>li {
    width: calc(100% / 3 - 30px);
    padding: 0;
    margin: 10px;
    background: #ffffff;
}

.imgDownloadPage>li>img {
    margin: 0 auto;
    width: 100%;
    height: 300px;
    cursor: pointer;
}

.imgDownloadPage>li>a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.imgDownloadPage>li>a .mat_title {
    color: #3F3F3F;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: bold;
    line-height: 21px;
}

.filterRow {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 20px;
}

.filterRow h2 {
    color: #565656;
    font-family: Athelas;
    font-size: 26px;
    letter-spacing: 0.24px;
    line-height: 29px;
    text-align: center;
}

.filterwrapper {
    max-width: 270px;
    width: 100%;
    text-align: right;
}

.filterwrapper .filterdroptitle {
    color: #504B49;
    font-family: "Source Sans Pro";
    font-size: 12.6px;
    font-weight: bold;
    letter-spacing: 0.9px;
    line-height: 18px;
    margin-right: 10px;
}

.filterwrapper .filterdrop {
    height: 44px;
    width: 180px;
    max-width: 200px;
    color: #7D7D7D;
    font-family: "Source Sans Pro";
    font-size: 12.6px;
    letter-spacing: 0.9px;
    line-height: 18px;
    background: transparent;
}

.imgPopup {
    background: rgba(0, 0, 0, 0.5);
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 100px;
}

.imgPopupInner {
    max-width: 800px;
    position: relative;
}

.closePop {
    cursor: pointer;
    position: absolute;
    top: -15px;
    right: -15px;
    background: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 30px;
    width: 30px;
    text-align: center;
    color: #fff;
    line-height: 26px;
}


/* sample box detail page */

h1.product_title.entry-title {
    color: #313131;
    font-family: Athelas;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0.28px;
    line-height: 33px;
}

span.woocommerce-Price-amount.amount {
    color: #313131;
    font-family: "Proxima Nova", "Source Sans Pro", Arial, Helvetica, sans-serif;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 20px;
}

.summary.entry-summary {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0.15px;
    line-height: 20px;
    margin-bottom: 0 !important
}

.storefront-full-width-content.single-product div.product .woocommerce-product-gallery {
    margin-bottom: 0;
}

.product-type-simple {
    /* border-bottom: 1px solid #222222; */
    margin-bottom: 60px;
    padding-bottom: 20px;
}

.home-site-main .woocommerce:last-child .product-type-simple {
    border: 0;
}

.single-product div.product .product_meta {
    border: 0;
}

.portfolio-wrapper .html5lightbox.video {
    position: relative;
}

.portfolio-wrapper .html5lightbox.video:after {
    content: "\f01d";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    font-size: 300%;
    color: #fff;
    text-shadow: 0 0 3px #525252;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

#payment .payment_methods li.payment_method_invoice .payment_box {
    background: none;
    padding: 0 0 0 50px;
}

#payment .payment_methods li.payment_method_invoice .payment_box>p {
    margin-bottom: 15px;
}

#payment .payment_methods li.payment_method_invoice .payment_box label {
    display: inline-block;
    font-weight: 600;
}

#payment .payment_methods li.payment_method_invoice .payment_box .pobox {
    display: inline-block;
    width: 130px;
    margin-left: 10px;
}

body.woocommerce-order-received .pum-theme-lightbox {
    background: rgba(0, 0, 0, 0.4) !important;
}

body.woocommerce-order-received .popmake {
    max-width: 600px !important;
    width: 100% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0;
    border: 0;
    border-radius: 0;
    top: 50% !important;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

body.woocommerce-order-received .popmake .popmake-title {
    display: none;
}

body.woocommerce-order-received .popmake .popmake-content {
    padding: 100px 100px;
    font-size: 22px;
    text-align: center;
    line-height: 32px;
    color: #656565;
}

table.cart td.actions .coupon {
    padding-bottom: 0;
    border-bottom: none;
    display: inline-block;
    float: right;
    background: #fff;
    padding: 20px;
    margin: 0 0 15px;
}

table.cart td.actions .coupon label {
    display: inline-block !important;
    margin: 0 10px 0 0;
}

table.cart td.actions .coupon .input-text {
    width: 150px;
    margin: 0 10px 0 0;
}

table.cart td.actions .button {
    clear: both;
    display: block;
    float: right;
}

.menu-footer-menu-container ul .menu-item-has-children {
    position: relative
}

.menu-footer-menu-container ul .menu-item-has-children ul.sub-menu {
    display: none;
    position: absolute;
    bottom: 20px;
    background: #414042;
    width: 200px;
    left: 0px;
    padding: 5px 10px;
    margin-left: 0px;
}

.menu-footer-menu-container ul .menu-item-has-children ul.sub-menu li {
    display: block;
    border-right: 0px !important;
    padding: 5px;
}

.menu-footer-menu-container ul .menu-item-has-children:hover>ul.sub-menu {
    display: block;
}

@media(max-width:767px) {
    .imgDownloadPage>li {
        width: calc(100% / 2 - 30px);
    }
}

@media(max-width:567px) {
    .imgDownloadPage>li {
        width: calc(100% / 1 - 20px);
    }
}

.emily2msg {
    color: #3F3F3F;
    font-size: 16px;
    font-style: italic;
    line-height: 22px;
    padding: 15px 10px 10px 135px;
    text-align: left;
}

#emilyprice {
    font-style: normal;
    float: right;
    color: #D0021B;
    font-size: 16px;
    font-weight: bold;
    line-height: 22px;
}

.custom_dealerbtn {
    margin-bottom: 17px;
}

.custom_dealerbtn p {
    font-size: 14px;
}

.productinfo-show-discounts {
    margin: 5px 0 20px !important;
}

.review_head {
    color: #000000;
    font-family: "Source Sans Pro";
    font-size: 19px;
    font-weight: bold;
    letter-spacing: 0.82px;
    line-height: 26px;
}

.review_head:before {
    content: "\f005 \f005 \f005 \f005 \f005";
    letter-spacing: 3px;
    color: #E3A72C;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-right: 10px;
    vertical-align: middle;
}

.review_detail {
    color: #6D6D6D;
    font-family: "Source Sans Pro";
    font-size: 16px;
    letter-spacing: 0.82px;
    line-height: 26px;
}

.review_by {
    color: #6D6D6D;
    font-family: "Source Sans Pro";
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.82px;
    line-height: 26px;
}

.secondary-navigation ul.menu li.review-link {
    padding: 0 20px 0 0;
    border-left: 0 !important;
}

.secondary-navigation ul.menu li.review-link em {
    letter-spacing: 5px;
    color: #E3A72C;
}

.secondary-navigation ul.menu li.review-link em.fa-star:before {
    content: "\f005 \f005 \f005 \f005 \f005";
}

.mfp-bg.mfp-ready {
    opacity: 0.6 !important;
}

.mfp-figure:after {
    background: none !important;
    box-shadow: none !important;
}

.product-slider .fl-post-carousel .fl-post-carousel-post {
    border: 0;
    text-align: center;
}

.product-slider .fl-post-carousel .fl-post-carousel-post .fl-post-carousel-title a {
    font-weight: 600;
    color: #6d6d6d;
}

.emh .site-header .storefront-primary-navigation .main-navigation .primary-navigation .sub-menu .sub-menu {
    margin-left: 0;
}

@media all and (min-width:769px) {
    .mfp-image-holder .mfp-content {
        width: 50%;
    }
    .widthauto .fl-photo .fl-photo-content {
        width: auto;
        height: auto;
    }
}


/* New Portal Design CSS */

.portal-image-list .fl-col-group .fl-col {
    position: relative;
}

.portal-image-list .fl-module-photo {
    max-height: 365px;
    overflow: hidden;
    position: relative;
}

.portal-image-list .fl-module-heading {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 20px 10px;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
}

.portal-image-list .fl-module-heading .fl-heading a {
    font-weight: inherit;
}

.portal-image-list .fl-module-rich-text ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.portal-image-list .fl-module-rich-text ul li {
    padding: 0 0 5px;
}

.portal-image-list .fl-module-rich-text ul li:last-child {
    padding-bottom: 0px;
}

.portal-image-list .fl-module-rich-text ul li a {
    color: #6D6D6D;
}

.portal-image-list .fl-module-rich-text ul li a:hover {
    color: #E3A72C;
}

.portal-image-list .fl-module-rich-text ul li a:after {
    content: "\f105";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #E3A72C;
    margin-left: 7px;
    vertical-align: middle;
    margin-top: -1px;
}

.lad-portal-image-list .fl-photo-content {
    width: 100%;
}


/* New Portal Store locator CSS */

.wpsl-search.wpsl-clearfix.wpsl-filter.wpsl-checkboxes-enabled {
    display: flex;
    padding: 0;
}

div#wpsl-statemap-wrapper {
    display: flex;
    padding: 20px;
    align-items: center;
    font-family: Athelas, serif;
}

#wpsl-statemap-wrapper>div {
    flex: 1;
    padding: 0 20px;
}

#statemap-details #statemap-type {
    display: flex;
    margin-left: 0;
    font-size: 14px;
    list-style: none;
}

#statemap-details #statemap-type>li {
    margin: 0 25px;
    position: relative;
}

#statemap-details #statemap-type>li:before {
    content: '';
    display: inline-block;
    height: 12px;
    width: 12px;
    position: absolute;
    background: #505050;
    border-radius: 100%;
    left: -18px;
    top: 4px;
}

#statemap-details #statemap-type>li:first-child:before {
    background: #e3a72c;
}

.emily-header-store {
    display: flex;
    justify-content: space-between;
    position: relative;
}

#wpsl-statemap-wrapper>div#statemap-mapimg {
    padding: 20px;
}

#statemap-mapimg>img {
    margin: 0 auto;
}

.emily-header-store h3 {
    color: #565656;
    font-family: Athelas;
    font-size: 18.44px;
    font-weight: bold;
    letter-spacing: 0.17px;
    line-height: 20px;
}

#wpsl-search-wrap {
    background: #ffffff;
    max-width: 400px;
    padding: 10px;
    font-family: Athelas, serif;
}

#wpsl-search-wrap form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

#wpsl-search-wrap div label {
    float: none;
    display: block;
}

#wpsl-search-wrap label {
    font-size: 14px;
    position: relative;
}

#wpsl-search-wrap form .wpsl-input {
    flex: 100%;
    order: 1;
}

#wpsl-search-wrap form .wpsl-select-wrap {
    order: 2;
    flex: 1;
}

#wpsl-search-wrap form .wpsl-search-btn-wrap {
    order: 2;
    flex: 1;
    padding-top: 32px;
    padding-left: 20px;
}

#wpsl-search-wrap form #wpsl-checkbox-filter {
    order: 3
}

#wpsl-search-wrap form #wpsl-checkbox-filter>li {
    overflow: hidden;
}

#wpsl-search-wrap form .wpsl-input input {
    display: block;
    width: 100%;
}

#wpsl-checkbox-filter.wpsl-checkbox-3-columns li,
.wpsl-custom-checkboxes.wpsl-checkbox-3-columns li {
    width: auto;
    margin-right: 20px;
}

#wpsl-search-header {
    font-size: 22px;
}

#wpsl-search-wrap form .wpsl-input input,
#wpsl-search-wrap form .wpsl-selected-item {
    box-shadow: none;
    background: #ffffff;
    border-radius: 0;
    border: 1px solid #333;
    height: 40px;
    ;
}

#wpsl-search-wrap form .wpsl-dropdown {
    border: 0;
    width: 100%;
}

#wpsl-search-wrap form #wpsl-radius {
    width: 100%;
}

#wpsl-search-wrap form #wpsl-search-btn {
    background: #e3a72c;
    box-shadow: none;
    border: 0;
    color: #fff;
    text-transform: uppercase !important;
    letter-spacing: 1.5px;
    font-size: 14px;
    height: 40px;
    width: 100%;
    border-radius: 0;
}

#wpsl-checkbox-filter label {
    font-weight: 600;
}

#wpsl-checkbox-filter label input {
    position: absolute;
    top: -40px;
}

#wpsl-checkbox-filter label:before {
    content: '';
    height: 20px;
    width: 20px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    margin-right: 10px;
}

#wpsl-checkbox-filter label input:checked::after {
    content: '';
    height: 12px;
    width: 12px;
    background: #555;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    position: absolute;
    top: 43px;
    left: -27px;
}

#wpsl-wrap #wpsl-result-list ul li {
    padding: 15px 15px 15px 40px;
}

#wpsl-wrap #wpsl-result-list ul li .fa {
    margin-right: 10px;
}

#wpsl-wrap #wpsl-result-list ul li .wpsl-directions {
    padding: 10px 30px;
    font-size: 14px;
    letter-spacing: 1.5px;
    text-transform: uppercase !important;
    background: #e3a72c;
    color: #fff;
}

.emily-header-store .emily-distance {
    color: #e3a72c;
    font-size: 14px;
}

.emily-header-store h3:before {
    background: url(/wp-content/uploads/2019/08/location-pointer.png) no-repeat left center;
    content: '';
    height: 24px;
    width: 30px;
    display: inline-block;
    background-size: contain;
    margin-left: -25px;
    position: absolute;
}

.emh.page-id-13396 .site {
    background: none
}

@media(max-width:767px) {
    .wpsl-search.wpsl-clearfix.wpsl-filter.wpsl-checkboxes-enabled {
        flex-wrap: wrap;
    }
    div#wpsl-statemap-wrapper {
        flex-direction: column;
    }
    #statemap-details #statemap-type>li {
        margin: 0 20px;
    }
    #wpsl-statemap-wrapper>div {
        padding: 0
    }
    .ordersamples.col-3 ul.products li {
        width: auto;
        margin: 0 auto;
    }
}

@media(max-width:500px) {
    #wpsl-search-wrap form .wpsl-search-btn-wrap {
        order: 4;
        flex: 1;
        padding-top: 10px;
        padding-left: 0px;
    }
}


/* New Portal Store locator CSS */

@media (min-width: 768px) {
    .storefront-full-width-content .content-area {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-right: 0;
    }
}

.product-slider.sliderClick,
.product-slider.sliderClick .fl-post-carousel-grid,
.product-slider.sliderClick .fl-post-carousel-grid .bx-viewport {
    min-height: 400px !important
}